<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seebon.rpa.repository.mysql.RobotTaskArgsDao">
    <resultMap id="RobotTaskArgsMap" type="com.seebon.rpa.entity.robot.RobotTaskArgs">
        <id column="id" property="id"/>
        <result column="task_code" property="taskCode"/>
        <result column="args_type" property="argsType"/>
        <result column="args_value" property="argsValue"/>
        <result column="args_key" property="argsKey"/>
        <result column="display_order" property="displayOrder"/>
        <result column="form_name" property="formName"/>
        <result column="group_name" property="groupName"/>
        <result column="sync_time" property="syncTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, task_code, args_key,args_type, args_value, display_order, form_name, group_name, sync_time
    </sql>

    <select id="selectByAppAndArgsKey" resultMap="RobotTaskArgsMap">
        select rta.* from robot_task_args rta
        join robot_task rt on rta.task_code = rt.task_code
        join robot_app ra on ra.app_code = rt.app_code
        where rt.app_code = #{appCode} and rta.args_key = #{argsKey}
        and rta.args_value = #{argsValue}
        <if test="clientId!=null">
            and rt.client_id = #{clientId}
        </if>
        <if test="id != null">
            and rta.id != #{id}
        </if>
    </select>

    <select id="selectAccountNumber" resultMap="RobotTaskArgsMap">
        select * from robot_task_args where task_code = #{taskCode}
        and args_key in
        <foreach collection="numbers" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        limit 1
    </select>

    <resultMap id="TaskConfigMap" type="com.seebon.rpa.entity.robot.dto.RobotTaskConfigDTO">
        <id column="display_order" property="displayOrder" />
        <id column="group_name" property="groupName" />
        <collection property="args" ofType="com.seebon.rpa.entity.robot.dto.RobotTaskArgsDTO">
            <result column="id" property="id" />
            <result column="args_key" property="argsKey" />
            <result column="field_name" property="fieldName" />
            <result column="field_type" property="fieldType" />
            <result column="args_value" property="argsValue" />
        </collection>
    </resultMap>

    <select id="getRobotTaskConfigInfo" resultMap="TaskConfigMap">
        select rad.id,a.display_order,a.group_name,a.args_key,rad.field_name,rad.field_type,a.args_value from robot_task_args a
        left join robot_task b on a.task_code=b.task_code
        left join robot_args_define rad on b.app_code=rad.args_code and a.args_key=rad.field_key and rad.is_delete=0
         where a.task_code=#{taskCode} and rad.id is not null order by a.display_order,rad.display_order,rad.id
    </select>

</mapper>
